.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 40px 64px;
}

.App-body-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
  background-image: url("./AIA_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}

.App-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Row-fundedOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 4px;
  box-sizing: border-box;
  color: white;
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 24px;
  bottom: -12px;
  font-size: 12px;
  right: 0;
}

.Row-fundedImg {
  position: absolute;
  max-width: 100;
  min-width: 36;
  width: 30%;
  top: 0;
  right: -10%;
  transform: rotate(45deg);
}

.Row-fundedSmall {
  font-size: 8px;
}

.Row-fundedTiny {
  font-size: 6px;
}
